.bg-yellow {background-color: #e0c32e !important}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.margin-bottom-30 {
	margin-bottom: 30%;
}

/* Table Header */
th.number-header{
	width: 10px;	
}

/* Login and Register Pages */
.login-page, .register-page {
	background-image: url(/images/city-cityscape-amarpreet-kaur.jpg);
	background-position: center center;
	background-clip: content-box;
}

.login-box, .register-box {
	padding: 0px 32px;
}

.login-logo a, .register-logo a {
	color: white;
}

.login-box-body, .register-box-body {
	border-radius: 32px;
	background: rgba(255, 251, 251, 0.85)
}

.login-box-msg {
	font-size: 18px;
	color: black;
}

.auth-links {
    margin-top: 10px;
}

/* ScoreCard Pages */
#scorecard .btn-app {
	min-width: 20px;
	margin: 0;
	height: auto;
}

#scorecard .teamCell {
	vertical-align: middle;
}

#scorecard .lockColumn {
	text-align: center;
	margin: 0 auto;
}
