body, h1, h2, h3, h4, h5, h6, p { font-family: "Raleway","Helvetica Neue", Helvetica,sans-serif; }
p { font-size: 16px; }

.results-page .page-header, .schedule-page .page-header {
	height: 280px;
}

#map {
	height: 600px;
	width: 100%;
}

/* make sections a little less padded */
.section {
	padding: 40px 0;
}
.info {
	padding: 36px 0 16px;
}

/* Narrower l/r margins for mobiles */
.main { margin-left: 15px; margin-right: 15px; }
.container { padding-left: 10px; padding-right: 10px; }

/* bump the card header up 60px to make a nice overlap effect */
.card .card-header {margin-top: -60px;}

/* using .btns in some Card Headers to indicate the "Current" item, nav style, but padding is a bit much*/
.card-header .nav .btn { padding: .35rem 1rem; font-size: .875rem}

/* using badges for Scores mostly, need to be a bit bigger */
.badge {
	font-size: .9rem;
	padding: .25em 0.6em 0.45rem;
}

#teamStandings {
	margin-top: 1rem;
}
/* using .btn in standgings for Scores, need to be a bit bigger */
#teamStandings table .btn {
	font-size: .9rem;
	line-height: 1;
	margin: 0;
}
 
/* Game Results Page */
.scoreCell   { text-align:center; }

/* Lighten the score cell colours */
.scoreCell.bg-danger {
  background-color: #f2dede !important;
}

.scoreCell.bg-success {
  background-color: #dff0d8 !important;
}

.scoreCell.bg-warning {
  background-color: #fcf8e3 !important;
}

.teamCell	 { font-size: large; }
.fa-trophy   { display:none; }
.playerCell  { text-align: center; }
.round_total { font-weight:bold;font-size: large;text-align: center; }
.gutter 	 { background-color: #f3f3f3; }

		
/* FIX for wrong text color for Active element on collapsed navbar on Mobile */
.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.active .nav-link:hover {
	color: #999999;
}
